.rockets {
  margin-top: 100px;
  padding: 10px 40px;
}

.my-profile {
  margin-top: 100px;
  padding: 10px 40px;
}

.my-profile > * {
  margin: 20px;
}

.myRocket {
  height: 50px;
}

.rocket > img {
  width: 250px;
  height: 200px;
}

.badge {
  display: inline-block;
}

@media (max-width: 766px) {
  .rocket {
    flex-direction: column !important;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
  }

  .rocket > div {
    margin-left: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.blue {
  color: black;
  margin-left: 100px;
}

.single {
  margin-top: 140px;
  margin-left: 100px;
}

.table {
  margin-left: -5%;
  border: 1px solid rgb(180, 180, 180);
}

.button {
  font-size: 12px;
  border: none;
  background-color: inherit;
}

.gray {
  background-color: gray;
  color: #fff;
  font-size: 10px;
  border-radius: 10%;
  text-align: center;
}

.acctive {
  font-size: 10px;
  color: rgb(218, 54, 54);
  border: 1px solid rgb(218, 54, 54);
  padding: 2px;
  border-radius: 4px;
}

.join {
  border: 1px solid rgb(63, 59, 59);
  padding: 2px;
  border-radius: 4px;
}

.member {
  width: 10%;
}

.ll {
  background-color: rgb(190, 182, 182);
}
